// 上下中央揃え
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 背景を中心に
@mixin backImgCenter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// 円の画像
@mixin backgroundCircle {
  @include backImgCenter;
  background-image: url('data:image/svg+xml;base64,PHN2ZwogIHZlcnNpb249IjEuMSIKICB3aWR0aD0iMTAiCiAgaGVpZ2h0PSIxMCIKICB4bWw6c3BhY2U9InByZXNlcnZlIgogIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIKPgogIDxjaXJjbGUgY3g9IjUiIGN5PSI1IiByPSI1Ij48L2NpcmNsZT4KPC9zdmc+');
}

// 縦横比固定
@mixin aspect($value) {
  &::after {
    content: '';
    display: block;
    padding-top: $value;
  }
}

@mixin overflow {
  overflow: auto;
  -ms-overflow-style: none;
  &:-webkit-scrollbar {
    display: none;
  }
}
