@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin backImgCenter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin aspect($value) {
  &::after {
    content: '';
    display: block;
    padding-top: $value;
  }
}

@mixin overflow {
  overflow: auto;
  -ms-overflow-style: none;
  &:-webkit-scrollbar {
    display: none;
  }
}
